[user]
    name = Peixiang xu
    email = peixiangxu@gmail.com
[alias]
    cm = commit
    ca = commit -a
    st = status -uno
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
